@page
@model IndexModel
@{
    ViewData["Title"] = " Daniel sauer millonario!!!!!!!!!!!!";
}

<div class="text-center">
    <h1 class="display-4">Daniel sauer millonario casino!!!!!!!!!!!! el chico que aposto en 3 dias y se llevo un millon de pesos!!</h1>
    <p>dan and cin  <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
