@page
@model IndexModel
@{
    ViewData["Title"] = " Dan and Cin  ";
}

<div class="text-center">
    <h1 class="display-4">;) </h1>
    <p>  <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
